.contents {
    display: flex;
    align-items: center;
}

.main {
    border: solid 1px black;
    height: 100vw;
    flex: auto;
    align-items: center;
}

.sidebar {
    border: solid 1px black;
    height: 100vw;
    width: 30vw;
    align-items: center;
}

.sidebar img {
    height: 100%;
    width: 100%;
}